process {
    executor = 'crg'
    queue = { (task.attempt < 4 ? 'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }
    time = '160h'
    memory = { (task.attempt < 4 ? (12.GB * task.attempt) : 
                task.attempt < 7 ? (18.GB * task.attempt) : 
                task.attempt <  8 ? '248.GB' : 
                '496.GB')}
    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
    maxRetries = 7
    //scratch = true  // for docker use
}

singularity.enabled = true
