/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 28
  max_memory = 8.GB
  max_time = 24.h

  // Input data
  singleEnd = false
  genome = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa'
  bt2index = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome'
  chrom_sizes = "$baseDir/test-data/genome-data/human.hg19.genome"
  sras = 'SRR1448793,SRR1448795,SRR3493647,SRR3493653'
}
