/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  email = "YOUR_EMAIL_ADDRESS"
  outdir = "OUTPUT_DIRECTORY_FOR_EACH_PROCESS"

  // Useful paths and reference files
  singleEnd = false
  genome = "PATH_TO_THE_REFERENCE_GENOME_FASTA_FILE"
  bt2index = "PATH_TO_THE_BOWTIE2_INDEX_FILE_DIRECTORY"
  chrom_sizes = "PATH_DESCRIBING_CHROMOSOME_SIZES_FOR_THE_REFERENCE_GENOME_OF_CHOICE"
  tf_motif_sites = "PATH_TO_DIRECTORY_CONTAINING_A_BED_FILE_PER_SCANNED_MOTIF_SITES"
  trimmomatic_jar_path = "PATH_TO_TRIMMOMATIC_JAR_FILE"
  region_blacklist = "PATH_TO_BED_FILE_CONTAINING_ENCODE_BLACKLISTED_REGIONS"

  // Input data alternatives (USE ONLY ONE OF THEM):

  // Specific SRRs
  readPaths = []

  // Path to a directory with fastq files (can use a regex)
  //fastq_dir_pattern = "/SOME/PATH/LIKE/LD*_R{1,2}_001.fastq.gz"

  // Path to directory with sra files
  sra_dir_pattern = "/SOME/PATH/LIKE/SR*"
}
