/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  singleEnd = false
  genome = "$baseDir/test-data/genome/genome.fa"
  bt2index = "$baseDir/test-data/bowtie2-index/genome"
  chrom_sizes = "$baseDir/test-data/genome-data/sizes.genome"
  tf_motif_sites = "$baseDir/test-data/motifs/human_hg19"
  readPaths = [
    ['SRR5204807', ["$baseDir/test-data/reads/SRR5204807_1.fastq.gz", "$baseDir/test-data/reads/SRR5204807_2.fastq.gz"]],
    ['SRR5204808', ["$baseDir/test-data/reads/SRR5204808_1.fastq.gz", "$baseDir/test-data/reads/SRR5204808_2.fastq.gz"]]
  ]
}
